/* Navbar */

.navbar {
    color: white;
}

.navbar .navbar-brand {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 24px;
}

.navbar .nav-item .nav-link {
    color: lightgray;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar .nav-item .nav-link:hover {
    color: white;
}

/* Navbar end */


/* Hero Section */

.carousel {
    margin-bottom: 20px;
}

.carousel img {
    /* width: 1583px;
    height: 780px; */
    width: 100vw;
    height: 92vh;
}

.carousel .carousel-caption {
    /* display: flex; */
    /* justify-content: center; */
    /* margin-bottom: 250px; */
    /* margin-bottom: 30vh; */

    position: absolute;
    bottom: 36%;
    /* font-size: 30px; */
    font-size: 35px;
    color: #e4ecea;
    font-weight: 600;
    text-shadow: 3px 2px 1px black;
    width: 46%;
    margin: auto;

}


/* Hreo Section end */

/* About */
#about {
    padding-top: 20px;
    padding-bottom: 20px;
}

#about li {
    font-size: 18px;

}

/* About end */


/* Reviews */

#reviews {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Reviews end*/

/* FAQs */

#FAQs {
    padding-top: 40px;
    padding-bottom: 40px;
}

.accordion-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

/* FAQs end */


/* Contact Us */

#contact-us {
    padding-top: 40px;
    padding-bottom: 40px;
    /* border: 1.6px solid gray; */
}

/* Contact Us end*/


/* Headings */
h1 {
    font-family: Georgia, Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(34, 34, 34);
    text-decoration-thickness: 3px;
    
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




@media only screen and (max-width: 777px) {

    .carousel img {
        height: 92vh;
        height: 40vh;
    }
}

@media only screen and (max-width: 777px) {
    .carousel .carousel-caption {
        /* bottom: 36%; */
        bottom: 16%;
        font-size: 25px;
        width: 70%;

    }
}
